.form-control:disabled,
.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}
.readonly-div {
    pointer-events: none;
}
.font-texth5 .btn-link {
    font-size: 1.6rem !important;
}

.table-bordered td,
.table-bordered th {
    border-bottom: none !important;
}
.home-student li {
    width: 100% !important;
}
